@model Proyecto_ITI904_Equipo2.Models.Recetas.TipoPreparacion

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<h1 style="text-align:center"><b>Dar baja tipo de preparación</b></h1>

<h3 style="text-align:center"><b>¿Seguro que quieres inhabilitar el tipo de preparación</b></h3>
<div class="row">
    <hr />
    <table class="table">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Nombre)
            </td>
            <td>
                @Html.DisplayFor(model => model.Nombre)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Descripción)
            </td>
            <td>
                @Html.DisplayFor(model => model.Descripción)
            </td>
        </tr>
    </table>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}
