@model Proyecto_ITI904_Equipo2.Models.Recetas.TipoPreparacion

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<h1 style="text-align:center"><b>Detalles del tipo de preparación</b></h1>

<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Nombre)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Descripción)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Descripción)
                </td>
            </tr>
        </table>
    </div>
</div>


<p>
    @Html.ActionLink("Modificar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Salir", "Index")
</p>
