@model Proyecto_ITI904_Equipo2.Models.Inventario.Material

<h1 style="text-align:center"><b>Dar baja material</b></h1>

<h3 style="text-align:center"><b>¿Seguro que quieres inhabilitar este material?</b></h3>
<div class="row">
    <hr />
    <table class="table">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Nombre)
            </td>
            <td>
                @Html.DisplayFor(model => model.Nombre)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(model => model.Descripcion)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Precio)
            </td>
            <td>
                $ @Html.DisplayFor(model => model.Precio)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Costo)
            </td>
            <td>
                $ @Html.DisplayFor(model => model.Costo)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.DisponibleAPublico)
            </td>
            <td>
                @Html.DisplayFor(model => model.DisponibleAPublico)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Contenido)
            </td>
            <td>
                @Html.DisplayFor(model => model.Contenido)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.UnidadInventario)
            </td>
            <td>
                @Html.DisplayFor(model => model.UnidadInventario)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Existencia)
            </td>
            <td>
                @Html.DisplayFor(model => model.Existencia)
            </td>
        </tr>
    </table>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Dar Baja" class="btn btn-primary" />
        <br />
    </div>
}

<form action="~/Materiales/Index" method="post">
    <input type="hidden" name="mostrar" id="mostrar" value="1" />
    <button type="submit" name="btnOpcion" class="btn btn-warning btn-sm">
        Salir
    </button>
</form>
