@model Proyecto_ITI904_Equipo2.Models.Inventario.Material

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<h1 style="text-align:center"><b>Detalles del material</b></h1>

<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Nombre)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Descripcion)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Precio)
                </td>
                <td>
                    $ @Html.DisplayFor(model => model.Precio)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Costo)
                </td>
                <td>
                    $ @Html.DisplayFor(model => model.Costo)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.DisponibleAPublico)
                </td>
                <td>
                    @Html.DisplayFor(model => model.DisponibleAPublico)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Contenido)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Contenido)
                </td>
            </tr>
            <tr>
                <td>
                    Unidad de medición
                </td>
                <td>
                    @Html.DisplayFor(model => model.UnidadInventario)
                </td>
            </tr>
            <tr>
                <td>
                    Unidad de venta
                </td>
                <td>
                    @Html.DisplayFor(model => model.UnidadVenta)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Existencia)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Existencia)
                </td>
            </tr>
            <tr>
                <td>
                    Material en uso
                </td>
                <td>
                    @Html.DisplayFor(model => model.EnUso)
                </td>
            </tr>
        </table>

    </div>
</div>

<p>
    @Html.ActionLink("Salir", "Index")
</p>
