@model IEnumerable<Proyecto_ITI904_Equipo2.Models.Inventario.Material>

<h1 style="text-align:center"><b>Materiales</b></h1>

<form action="~/Materiales/Create" method="get">
    <button type="submit" name="btnOpcion" class="btn btn-primary btn-sm">
        Añadir material
    </button>
</form>
<br />

<input id="buscar" type="text" class="form-control" placeholder="Filtro de búsqueda" />
<br />

<div class="row">
    <div class="col-lg-6">
        @if (ViewBag.Ocultar == 1)
        {
            <form action="~/Materiales/Index" method="post">
                <input type="hidden" name="mostrar" id="mostrar" value="1" />
                <button type="submit" name="btnOpcion" class="btn btn-info btn-sm">
                    Mostrar materiales no disponibles
                </button>
            </form>
        }
        else
        {
            <form action="~/Materiales/Index" method="post">
                <input type="hidden" name="mostrar" id="mostrar" value="0" />
                <button type="submit" name="btnOpcion" class="btn btn-info btn-sm">
                    Ocultar materiales no disponibles
                </button>
            </form>
        }
    </div>
    <div class="col-lg-6">
        <form action="~/Materiales/Reportes" method="get">
            <button type="submit" name="btnOpcion" class="btn btn-success btn-sm">
                Reportes de materiales
            </button>
        </form>
    </div>
</div>

<table class="table" id="TablaMaterial">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisponibleAPublico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Existencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnidadInventario)
        </th>
        <th>
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisponibleAPublico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Existencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnidadInventario)
            </td>
            <td>
                <form action="~/Materiales/Edit" method="get">
                    <input type="hidden" name="id" id="id" value="@item.Id" />
                    <button type="submit" name="btnOpcion" class="btn btn-warning btn-sm">
                        |Modificar
                    </button>
                </form>
                <form action="~/Materiales/Details" method="post">
                    <input type="hidden" name="id" id="id" value="@item.Id" />
                    <button type="submit" name="btnOpcion" class="btn btn-info btn-sm">
                        | Detalles
                    </button>
                </form>
                @if (item.Estatus == false){}
                else
                {
                    <form action="~/Materiales/Delete" method="get">
                        <input type="hidden" name="id" id="id" value="@item.Id" />
                        <button type="submit" name="btnOpcion" class="btn btn-danger btn-sm">
                            | Dar baja
                        </button>
                    </form>
                }
            </td>
        </tr>
    }

</table>

<script type="text/javascript">
    document.querySelector("#buscar").onkeyup = function () {
        $TableFilter("#TablaMaterial", this.value);
    }

    $TableFilter = function (id, value) {
        var rows = document.querySelectorAll(id + ' tbody tr');

        for (var i = 0; i < rows.length; i++) {
            var showRow = false;

            var row = rows[i];
            row.style.display = 'none';

            for (var x = 0; x < row.childElementCount; x++) {
                if (row.children[x].textContent.toLowerCase().indexOf(value.toLowerCase().trim()) > -1) {
                    showRow = true;
                    break;
                }
            }

            if (showRow) {
                row.style.display = null;
            }
        }
    }
</script>