@model IEnumerable<Proyecto_ITI904_Equipo2.Models.Inventario.Material>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!--Guarda el valor del proveedor actual para eliminar el material que no quiere o no vende más-->


@if (Model == null)
{
    <div class="alert alert-warning" role="alert">
        <h1>Lo sentimos</h1>
        <br />
        <h3>De momento no hay productos que este proveedor nos surta</h3>
    </div>
    <div class="alert alert-warning" role="alert">
        This is a warning alert—check it out!
    </div>
}
else
{
    <input type="hidden" name="name" id="id" value="@ViewBag.idProveedor" />
    <input type="hidden" name="name" value="@ViewBag.Agregados" />

    <h1 style="text-align:center"><b>Productos que ofrece</b></h1>
    <br />

    <div class="row">
        <table class="table">
            <tr>
                <th style="width: 3%">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th style="width: 25%">
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th style="width: 35%">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th style="width: 7%">
                    Contenido
                </th>
                <th style="width: 9%">
                    Unidad de medición
                </th>
                <th style="width: 21%">

                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contenido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnidadInventario)
                    </td>
                    <td>
                        @if (ViewBag.Agregados != null && ViewBag.Agregados.Contains(item.Id)) //Aqui va la condicional que nos diga si el id se encuentra en el Session ahora mismo
                        { // Si se encuentra dentro entonces manda mensaje
                            <form method="post" action="~/Compras/MostrarProveedoresMateriales">
                                <input type="hidden" value="@item.Id" name="idM" id="idM" />
                                <input type="hidden" name="id" id="id" value="@ViewBag.idProveedor" />
                                <input type="hidden" name="cantidad" id="cantidad" value="-1" />

                                <label>Elemento agregado al carrito</label>
                                <input type="submit" value="Quitar" name="btnOpcion" class="btn btn-success btn-sm" />
                            </form>
                        }
                        else
                        {
                            <form method="post" action="~/Compras/MostrarProveedoresMateriales">
                                <input type="hidden" value="@item.Id" name="idM" id="idM" />
                                <input type="hidden" name="id" id="id" value="@ViewBag.idProveedor" />
                                <table>
                                    <tr>
                                        <td width="25%">
                                            <label>Costo </label>
                                        </td>
                                        <td width="100%">
                                            <input type="text" name="costoMaterial" id="costoMaterial" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="25%">
                                            <label width="25%">Cantidad </label>
                                        </td>
                                        <td width="100%">
                                            <input type="text" name="cantidad" id="cantidad" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="100%">
                                            <input type="submit" value="Agregar" name="btnOpcion" class="btn btn-success btn-sm" />
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        }
                    </td>
                </tr>
            }
        </table>
        <form method="post" action="~/Compras/MostrarCarritoCompras">
            <input type="hidden" name="id" id="id" value="@ViewBag.idProveedor" />
            <input type="submit" name="realizarCompra" id="realizarCompra" value="RealizarCompra" />
        </form>
    </div>
}

<p>
    @Html.ActionLink("Salir", "Index")
</p>

<style>
    input {
        box-sizing: border-box;
    }
</style>
