@model IEnumerable<Proyecto_ITI904_Equipo2.Models.Compras.Compra>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<br />
<br />
<br />
<br />

<h1 style="text-align:center"><b>Compras efectuadas</b></h1>


<div class="row">
    <div class="col-lg-12">
        <div name="BarraNavegacion">
            <!--Barra de navegación que muestra las otras vistas que tiene este módulo-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <b><a class="nav-link">@Html.ActionLink("Carrito de compras ", "MostrarCarritoCompras")  |<a /></b>
                        </li>
                        <li>

                        </li>
                        <li class="nav-item">
                            <b><a class="nav-link">@Html.ActionLink("Lista de productos", "Index") <a /></b>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="col-lg-12">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Recibida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaSolicitud)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaRecepción)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Recibida)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaSolicitud)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaRecepción)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>