@model IEnumerable<Proyecto_ITI904_Equipo2.Models.Inventario.Material>

@{var i = 0;
  var y =0;
  Double total = 0;}

<h1 style="text-align:center"><b>Orden de compra</b></h1>

<div class="row">

    <div class="col-lg-12">
        <table class="table">
            <tr>
                <th width="10%">
                    Cantidad
                </th>
                <th width="20%">
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th width="40%">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>

                <th width="10%">
                    Precio unitario
                </th>
                <th width="10%">
                    Importe
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @ViewBag.Cantidades[i]
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                        <br />
                        @Html.DisplayFor(modelItem => item.Contenido)
                        @Html.DisplayFor(modelItem => item.UnidadInventario)
                    </td>

                    <td>
                        $ @ViewBag.Costos[i]
                    </td>

                    <td>
                        $ @(Convert.ToDouble(@ViewBag.Costos[i] * @ViewBag.Cantidades[i]))
                    </td>
                </tr>
                i++;
            }

            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td>
                    <h4>Total:</h4>
                </td>
                <td>
                    <h4>$ @ViewBag.TotalCompras</h4>
                </td>
            </tr>

        </table>
    </div>
    <form method="post" action="~/Compras/CancelarCompra">
        <!--Botón con el cual se puede cancelar la orden de compra-->
        <button type="submit" class="btn btn-danger btn-lg">
            Cancelar compra
        </button>
    </form>
    <form method="post" action="~/Compras/MostrarProveedoresMateriales">
        <input type="hidden" name="id" id="id" value="@ViewBag.idProveedor" />
        <!--Botón con el cual podemos realizar cambios de último momento antes de realizar compra-->
        <button type="submit" class="btn btn-success btn-lg">
            Regresar a la lista
        </button>
    </form>
    <form method="post" action="~/Compras/AgregarNuevaCompra">
        <input type="hidden" name="id" id="id" value="@ViewBag.idProveedor" />
        <button type="submit" class="btn btn-primary btn-lg">
            Confirmar Compra
        </button>
    </form>
</div>