@model IEnumerable<Proyecto_ITI904_Equipo2.Models.Inventario.Material>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Guarda el valor del proveedor actual para eliminar el material que no quiere o no vende más-->


@if (Model == null)
{
    <div class="alert alert-warning" role="alert">
        <h1>Lo sentimos</h1>
        <br />
        <h3>De momento no hay productos que este proveedor nos surta</h3>
    </div>
    @*<div class="alert alert-warning" role="alert">
        This is a warning alert—check it out!
    </div>*@
}
else
{
    <input type="hidden" name="name" id="id" value="@ViewBag.idProveedor" />
    <input type="hidden" name="name" value="@ViewBag.Agregados" />

    if(ViewBag.Detalle == 1)
    {

    }
    else
    {
        <h1 style="text-align:center"><b>Productos que ofrece</b></h1>
        <br />
    }

    <div class="row">
        <table class="table">
            <tr>
                <th style="width: 3%">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th style="width: 25%">
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th style="width: 35%">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th style="width: 7%">
                    Contenido
                </th>
                <th style="width: 9%">
                    Unidad de medición
                </th>
                <th style="width: 21%">

                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contenido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnidadInventario)
                    </td>
                    <td>
                        @if (ViewBag.Detalle == 1)
                        {
                        }
                        else
                        {
                        if (ViewBag.Agregados != null && ViewBag.Agregados.Contains(item.Id)) //Aqui va la condicional que nos diga si el id se encuentra en el Session ahora mismo
                            { // Si se encuentra dentro entonces manda mensaje
                                <form method="post" action="~/Compras/MostrarProveedoresMateriales">
                                    <input type="hidden" value="@item.Id" name="idM" id="idM" />
                                    <input type="hidden" name="id" id="id" value="@ViewBag.idProveedor" />
                                    <input type="hidden" name="cantidad" id="cantidad" value="-1" />

                                    <label>Elemento agregado al carrito</label>
                                    <input type="submit" value="Quitar" name="btnOpcion" class="btn btn-success btn-sm" />
                                </form>
                            }
                            else
                            {
                                <form method="post" action="~/Compras/MostrarProveedoresMateriales">
                                    <input type="hidden" value="@item.Id" name="idM" id="idM" />
                                    <input type="hidden" name="id" id="id" value="@ViewBag.idProveedor" />
                                    <table>
                                        <tr>
                                            <td width="25%">
                                                <label width="25%">Cantidad </label>
                                            </td>
                                            <td width="100%">
                                                <input type="text" name="cantidad" id="cantidad" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="25%">
                                                <label>Costo </label>
                                            </td>
                                            <td width="100%">
                                                <input type="text" name="costoMaterial" id="costoMaterial" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="100%">
                                                <input type="submit" value="Agregar" name="btnOpcion" class="btn btn-success btn-sm" />
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            }
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
}

@if (ViewBag.Detalle == 1)
{

}
else
{
    <div class="row">
        <div class="col-lg-6 col-md-6">
            @if (ViewBag.Agregados == null)
            { // Si no tiene ningún producto agregado entonces se va al inicio sin preguntar
                <form method="post" action="~/Compras/Index">
                    <input type="submit" class="btn btn-lg btn-danger btn-block" value="Salir" />
                </form>
            }
            else
            { // En caso de que si tengo algo, generará el modal
                <form>
                    <button id="submit" class="btn btn-lg btn-danger btn-block" type="button" data-toggle="modal" data-target="#myModal">Salir</button>
                </form>
            }
        </div>
        <div class="col-lg-6 col-md-6">
            @if (ViewBag.Agregados != null) //Aqui va la condicional que nos diga si el id se encuentra en el Session ahora mismo
            {
                <form method="post" action="~/Compras/MostrarCarritoCompras">
                    <input type="hidden" name="id" id="id" value="@ViewBag.idProveedor" />
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Realizar Compra" />
                </form>
            }
            else
            {
                <form method="post" action="~/Compras/MostrarCarritoCompras">
                    <input type="hidden" name="id" id="id" value="@ViewBag.idProveedor" />
                    <input type="submit" class="btn btn-lg btn-primary btn-block" disabled value="Realizar Compra" />
                    @*<input type="submit" name="realizarCompra" id="realizarCompra" value="RealizarCompra" class="btn btn-lg btn-primary btn-block" disabled />*@
                </form>
            }
        </div>
    </div>
}


<!-- modal a mostrar -->
<div id="myModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="memberModalLabel">Advertencia</h4>
            </div>
            <div class="modal-body">
                <b>Tienes compras seleccionadas, ¿Estás seguro de querer salir?</b>
            </div>
            <div class="modal-footer">
                <form method="post" action="~/Compras/Index">
                    <input type="submit" class="btn btn-danger" name="name" value="Salir" />
                </form>
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Seguir comprando</button>
            </div>

        </div>
    </div>
</div>
