@model Proyecto_ITI904_Equipo2.Models.Compras.Compra

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<h1 style="text-align:center"><b>Dar baja la compra</b></h1>

<h3 style="text-align:center"><b>¿Está seguro de dar de baja la siguiente compra?</b></h3>
<div class="row">
    <hr />
    <table class="table">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.FechaSolicitud)
            </td>
            <td>
                @Html.DisplayFor(model => model.FechaSolicitud)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.FechaRecepción)
            </td>
            <td>
                @Html.DisplayFor(model => model.FechaRecepción)
            </td>
        </tr>
        <tr>
            <td>
                Proveedor
            </td>
            <td>
                @Html.DisplayFor(model => model.Proveedor_Id)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Recibida)
            </td>
            <td>
                @Html.DisplayFor(model => model.Recibida)
            </td>
        </tr>
    </table>

    <br />
    <hr />

    <h3 style="text-align:center"><b>Productos de la compra</b></h3>

    <br />
    <br />
    <hr />

    @*<div>
                @Html.Action("MostrarProveedores")
        </div>*@
</div>

   @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Dar Baja" class="btn btn-default" />
            <br />
            @Html.ActionLink("Salir", "MostrarCompras")
        </div>
    }
