@model Proyecto_ITI904_Equipo2.Models.Compras.Compra

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<h1 style="text-align:center"><b>Detalle de la Compra</b></h1>

<div>
    <hr />
    <table class="table">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.FechaSolicitud)
            </td>
            <td>
                @Html.DisplayFor(model => model.FechaSolicitud)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.FechaRecepción)
            </td>
            <td>
                @Html.DisplayFor(model => model.FechaRecepción)
            </td>
        </tr>
        <tr>
            <td>
                Proveedor
            </td>
            <td>
                @Html.DisplayFor(model => model.Proveedor_Id)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Recibida)
            </td>
            <td>
                @Html.DisplayFor(model => model.Recibida)
            </td>
        </tr>
    </table>
        @Html.ActionLink("Modificar", "Edit", new { id = Model.Id })
</div>

<p>
    @Html.ActionLink("Salir", "MostrarCompras")
</p>
