<!DOCTYPE html>
<html lang="en">
<!-- Basic -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Congo Mate - Café a tu manera</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="@Url.Content("~/images/favicon.ico")" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/Content/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/custom.css">
    @Styles.Render("~/bundles/jquery_ui/base")
    <style type="text/css">
        .congo-cart {
            display: block;
            text-indent: -9999px;
            width: 100px;
            height: 82px;
            background: url(/images/icon_cart.svg);
            background-size: 100px 82px;
        }
    </style>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Start header -->
    <header class="top-navbar"  >
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/images/logo.png")" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbars-rs-food">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">@Html.ActionLink(linkText: "Inicio", actionName: "Index", controllerName: "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Menú", "Index", "Menu", null, new { @class = "nav-link" })</li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Otros sitios</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                @Html.ActionLink("Reservación", "Index", "Home", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Stuff", "Index", "Equipo", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Galería", "Index", "Galeria", null, new { @class = "dropdown-item" })
                            </div>
                        </li>
                        @*<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Blog</a>
            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                <a class="dropdown-item" href="blog.html">blog</a>
                <a class="dropdown-item" href="blog-details.html">blog Single</a>
            </div>
        </li>*@
                        <li class="nav-item">@Html.ActionLink("Contáctanos", "Index", "Contacto", null, new { @class = "nav-link" })</li>
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->

    <div class="container body-content" >
        <div class="main-render-body">
        @RenderBody()
        </div>
        <hr />


        <!-- Start Footer -->
        <footer class="footer-area bg-f">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <h3>Acerca de CongoMate</h3>
                        @Html.Partial("_AboutAbstract")
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h3>Opening hours</h3>
                        <p><span class="text-color">Monday: </span>Closed</p>
                        <p><span class="text-color">Tue-Wed :</span> 9:Am - 10PM</p>
                        <p><span class="text-color">Thu-Fri :</span> 9:Am - 10PM</p>
                        <p><span class="text-color">Sat-Sun :</span> 5:PM - 10PM</p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h3>Contact information</h3>
                        <p class="lead">Ipsum Street, Lorem Tower, MO, Columbia, 508000</p>
                        <p class="lead"><a href="#">+01 2000 800 9999</a></p>
                        <p><a href="#"> administrativo@congomate.com</a></p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h3>Subscribe</h3>
                        <div class="subscribe_form">
                            <form class="subscribe_form">
                                <input name="EMAIL" id="subs-email" class="form_input" placeholder="Email Address..." type="email">
                                <button type="submit" class="submit">SUBSCRIBE</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                        <ul class="list-inline f-social">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="company-name">
                                All Rights Reserved. &copy; @DateTime.Now.Year <a href="#">Yamifood Restaurant</a> Design By :
                                <a href="https://html.design/">html design</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <!-- End Footer -->

        <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

        <!-- ALL JS FILES -->
        <script src="~/Scripts//jquery-3.2.1.min.js"></script>
        <script src="~/Scripts//popper.min.js"></script>
        <script src="~/Scripts//bootstrap.min.js"></script>
        <!-- ALL PLUGINS -->
        <script src="~/Scripts/jquery.superslides.min.js"></script>
        <script src="~/Scripts//images-loded.min.js"></script>
        <script src="~/Scripts//isotope.min.js"></script>
        <script src="~/Scripts//baguetteBox.min.js"></script>
        <script src="~/Scripts//form-validator.min.js"></script>
        <script src="~/Scripts//contact-form-script.js"></script>
        <script src="~/Scripts//custom.js"></script>
        @RenderSection("Scripts",false)
    </div>
</body>
</html>
