@model IEnumerable<Proyecto_ITI904_Equipo2.Models.Inventario.Material>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

@{int? idP = ViewBag.idProveedor; }

<h1 style="text-align:center"><b>Agregar material al proveedor</b></h1>

<form action="~/Proveedores/MoverAControladorMateriales" method="post">
    <input type="hidden" name="idProveedor" id="idProveedor" value="@ViewBag.idProveedor" />
    <button type="submit" name="btnOpcion" class="btn btn-info btn-sm">
        <i class="glyphicon glyphicon-plus"></i> Añadir nuevo material
    </button>
</form>



<input id="buscar" type="text" class="form-control" placeholder="Filtro de búsqueda" />
<br />

<table class="table" id="TablaMaterial">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisponibleAPublico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Existencia)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisponibleAPublico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Existencia)
            </td>
            <td>
                <form action="~/Proveedores/InsertarProveedoresMateriales" method="post">
                    <input type="hidden" name="idP" id="idP" value="@idP" />
                    <input type="hidden" name="idM" id="idM" value="@item.Id" />
                    <button type="submit" name="btnOpcion" class="btn btn-primary btn-sm">
                        <i class="glyphicon glyphicon-ok-sign"></i> Agregar material al proveedor
                    </button>
                </form>
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Salir", "Edit", new { id = ViewBag.idProveedor })
</div>

<form action="~/Proveedores/Edit" method="post">
    <input type="hidden" name="id" id="id" value="@idP" />
    <button type="submit" name="btnOpcion" class="btn btn-warning btn-sm">
        <i class="glyphicon glyphicon-log-out"></i> Salir
    </button>
</form>

<script type="text/javascript">
    document.querySelector("#buscar").onkeyup = function () {
        $TableFilter("#TablaMaterial", this.value);
    }

    $TableFilter = function (id, value) {
        var rows = document.querySelectorAll(id + ' tbody tr');

        for (var i = 0; i < rows.length; i++) {
            var showRow = false;

            var row = rows[i];
            row.style.display = 'none';

            for (var x = 0; x < row.childElementCount; x++) {
                if (row.children[x].textContent.toLowerCase().indexOf(value.toLowerCase().trim()) > -1) {
                    showRow = true;
                    break;
                }
            }

            if (showRow) {
                row.style.display = null;
            }
        }
    }
</script>