@model IEnumerable<Proyecto_ITI904_Equipo2.Models.Inventario.Material>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<input type="hidden" name="Detalles" id="Detalles" value="@ViewBag.Detalle" />

@if (Model == null)
{
    <div class="alert alert-warning" role="alert">
        <h1>Lo sentimos</h1>
        <br />
        <h3>De momento no hay productos que este proveedor nos surta</h3>
    </div>
}
else
{
    <input type="hidden" name="name" value="@ViewBag.idProveedor" />
    <input type="hidden" name="name" value="@ViewBag.Agregados" />
    <!--Guarda el valor del proveedor actual para eliminar el material que no quiere o no vende más-->

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisponibleAPublico)
            </th>
            <th>
                Acciones
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    $ @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisponibleAPublico)
                </td>
                <td>
                    <!--Dependiendo del valor de detalle se mostrará la opción de quitar el material o no-->
                    @if (ViewBag.Detalle == 1) { }
                    else
                    {
                        <form action="~/Proveedores/QuitarMaterialProveedor" method="post">
                            <input type="hidden" name="idMaterial" id="idMaterial" value="@item.Id" />
                            <input type="hidden" name="idProveedor" id="idProveedor" value="@ViewBag.idProveedor" />
                            <button type="submit" name="btnOpcion" class="btn btn-danger btn-sm">
                                <i class="glyphicon glyphicon-minus"></i> Quitar material
                            </button>
                        </form>
                    }
                </td>
            </tr>
        }
    </table>
}