@model Proyecto_ITI904_Equipo2.Models.Compras.Proveedor

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<h1 style="text-align:center"><b>Dar baja proveedor</b></h1>

<h3 style="text-align:center"><b>¿Seguro que quieres inhabilitar a este proveedor</b></h3>
<div class="row">
    <hr />
    <table class="table">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Nombre)
            </td>
            <td>
                @Html.DisplayFor(model => model.Nombre)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.RFC)
            </td>
            <td>
                @Html.DisplayFor(model => model.RFC)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Telefono)
            </td>
            <td>
                @Html.DisplayFor(model => model.Telefono)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Direccion)
            </td>
            <td>
                @Html.DisplayFor(model => model.Direccion)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(model => model.ImageUrl)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Estatus)
            </td>
            <td>
                @Html.DisplayFor(model => model.Estatus)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Nota)
            </td>
            <td>
                @Html.DisplayFor(model => model.Nota)
            </td>
        </tr>
    </table>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Dar Baja" class="btn btn-default" />
        <br />
        @Html.ActionLink("Salir", "Index")
    </div>
}
