@model Proyecto_ITI904_Equipo2.Models.Compras.Proveedor

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<h1 style="text-align:center"><b>Detalles del proveedor</b></h1>

<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Nombre)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.RFC)
                </td>
                <td>
                    @Html.DisplayFor(model => model.RFC)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Telefono)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Direccion)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ImageUrl)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Estatus)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Estatus)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Nota)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Nota)
                </td>
            </tr>
        </table>

        <div>
            <h1 style="text-align:center"><b>Materiales que proporciona</b></h1>
            <hr />
            <!--Añadimos el id del modelo y que det es igual a 1 para que no muestre la opción de quitar material
                al momento de mostrar los detalles y evitar que los quiten ahí-->
            @{Html.RenderAction("MostrarProveedoresMateriales", new { Model.Id, det = 1}); }
        </div>

    </div>
</div>
    
<p>
    @Html.ActionLink("Salir", "Index")
</p>