@using Proyecto_ITI904_Equipo2.Models.Ventas
@model IEnumerable<Proyecto_ITI904_Equipo2.Models.Inventario.Material>

@{ 
    List<ProductoPreparado> productos = Session["ProductosPreparados"] as List<ProductoPreparado> ?? new List<ProductoPreparado>();
    double Total = 0;
}
<h1 style="text-align:center"><b>En carrito</b></h1>
<div class="container">
    <table class="blueTable">
        <thead>
            <tr>
                <th>Bebida</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Importe</th>
            </tr>
        </thead>
        <tbody>

       @foreach (ProductoPreparado prod in productos)
        {
            <tr>
                <td>@Html.DisplayFor(p => prod.Descripcion)</td>
                <td>
                    @using (Html.BeginForm("ChangeQuantity","Venta",FormMethod.Post))
                    {
                        <input type="hidden" name="index" value="@productos.IndexOf(prod)" />
                        <input type="number" name="cantidad" value="@prod.Cantidad"/>
                        <input type="submit" class="btn btn-success btn-sm" value="Cambiar"/>
                    }
                </td>
                <td>
                    @Html.DisplayFor(p => prod.Precio)
                </td>
                <td>@Html.DisplayFor(p => prod.Importe)</td>
            </tr>
           Total += prod.Importe;
       }
       @if (productos.Count == 0)
        {
            <tr><td colspan="4">No hay bebidas en el carrito</td></tr>
        }
        else 
        {
            <tr>
                <td colspan="3" style="text-align:right"><b>Total</b></td>
                <td>@Total</td>
            </tr>
        }
        </tbody>
    </table>
</div>
<hr />
<h1 style="text-align:center"><b>Preparalos tu mismo</b></h1>

<input id="buscar" type="text" class="form-control" placeholder="Filtro de búsqueda" />
<br />
<table class="table blueTable" id="TablaMaterial">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Existencia)
        </th>
        <th>
            Agregar al carrito
        </th>
    </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Existencia)
            </td>
            <td>
                @if (ViewBag.Agregados != null && ViewBag.Agregados.Contains(item.Id) )
                {
                    <form method="post" action="#">
                        <input type="hidden" value="@item.Id" name="id" id="id" />
                        <input type="hidden" name="cantidad" id="cantidad" value="-1" />
                        <div class="container">
                            <div class="row">
                                <div class="col-6" style="margin-bottom:50px">
                                    <label> @ViewBag.Cantidades[ViewBag.Agregados.IndexOf(item.Id)] Elemento(s) agregado al carrito</label>
                                </div>
                                <div class="col-6">
                                    <input type="submit" value="Quitar" name="btnOpcion" class="btn btn-success btn-sm" />
                                </div>
                            </div>
                        </div>
                    </form>
                }
                else
                {
                    <form method="post" action="#">
                        <input type="hidden" value="@item.Id" name="id" id="id" />
                        <div class="container">
                            <div class="row">
                                <div class="col-6" style="margin-bottom:50px">
                                    <input type="number" name="cantidad" id="cantidad"/>
                                </div>
                                <div class="col-6">
                                    <input type="submit" value="Añadir" name="btnOpcion" class="btn btn-success btn-sm" />
                                </div>
                            </div>
                        </div>
                    </form>
                }
            </td>
        </tr>
    }

</table>
<div class="container">
    <form method="post" action="~/Venta/RealizarVenta">
        <div class="row">
            <div class="col-lg-6">
                <h1>Fecha solicitada de entrega</h1>
                <input class="form-control" type="date" name="FechaSolicitada" id="FechaSolicitada" />
                <br />
                <br />
                @if (ViewBag.Total != null)
                {
                    <h1>TOTAL: @ViewBag.Total</h1>
                }
            </div>
            <div class="col-lg-6">
                @if (ViewBag.Total != null || productos.Count != 0)
                {
                    <input type="submit" value="Guardar" class="btn btn-success btn-sm pull-right" />
                }
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    document.querySelector("#buscar").onkeyup = function () {
        $TableFilter("#TablaMaterial", this.value);
    }

    $TableFilter = function (id, value) {
        var rows = document.querySelectorAll(id + ' tbody tr');

        for (var i = 0; i < rows.length; i++) {
            var showRow = false;

            var row = rows[i];
            row.style.display = 'none';

            for (var x = 0; x < row.childElementCount; x++) {
                if (row.children[x].textContent.toLowerCase().indexOf(value.toLowerCase().trim()) > -1) {
                    showRow = true;
                    break;
                }
            }

            if (showRow) {
                row.style.display = null;
            }
        }
    }
    n = new Date();
    //Año
    y = n.getFullYear();
    //Mes
    m = n.getMonth() + 1;
    //Día
    d = n.getDate();

    //Lo ordenas a gusto.
    document.getElementById("FechaSolicitada").innerHTML = d + "/" + m + "/" + y;
</script>
